<!DOCTYPE html>
<html lang="en">
<body>
    {{>Navigation}}
    {{#if departamento}}
    <div class="d-block p-2 justify-content-start">
        <table class="table table-bordered border-primary table-responsive table-sm">
            <h3 class="d-flex justify-content-center mb-3">Departamentos actualmente activos</h3>
                <thead>
                    <tr>
                        <th scope="col" class="w-25">id</th>
                        <th scope="col" class="w-25">Nombre del deparmento</th>
                        <th scope="col" class="w-25">Acciones</th>
                    </tr>
                </thead>
            {{#each departamento}}
                <tbody>
                    <tr class="w-25">
                        <th scope="row">{{this.idDepartamento}}</th>
                        <td>{{this.nombreDepartamento}}</td>
                        <td>
                            <button class=" btn btn-secondary align-items-center">
                                <a class="link-underline link-underline-opacity-0 text-reset" href="/administrador/departamentos/actualizarDepartamento/{{this.idDepartamento}}">Actualizar</a>
                            </button>
                        </td>
                    </tr>
                </tbody>
            {{/each}}
        </table>
        {{else}}
        <div class="container">
            <h2 class="d-flex justify-content-center mb-3 mt-5">No tiene actualmente ningún departamento activo, por favor registre uno</h2>
        </div>
    </div>
    {{/if}}
</body>
</html>