<!DOCTYPE html>
<html lang="en">
<body>
    {{>Navigation}}
    <div class="container-md">
        <form id="usuarioForm" class="d-flex row align-items-center mt-3"  enctype="multipart/form-data">
            <div class="mb-3">
                <label for="nombreDepartamento" class="form-label">Nombre del Usuario</label>
                <input type="text" class="form-control" name="nombreUsuario" placeholder="Inserte el nombre del Usuario" required>
                <label for="email_Usuario" class="form-label">Email del usuario</label>
                <input type="email" class="form-control" name="email_Usuario" placeholder="Inserte el email del usuario" required>
                <label for="departamento" class="form-label">Seleccione departamento</label>
                <input type="number" class="form-control" name="departamento" placeholder="Inserte el código del departamento" required>
                <label for="media" class="form-label">Seleccione la imagen de usuario</label>
                <input type="file" class="form-control" name="media" placeholder="Inserte el string media"  accept="image/*" >
                <label>Leyenda para código de departamento</label>
                {{#if departamento}}
                        <select class="mt-3">
                            <option value="">--Seleccione Departamento--</option>
                            {{#each departamento}}
                                <option value={{this.idDepartamento}}>{{this.nombreDepartamento}} = {{this.idDepartamento}}</option>
                            {{/each}}
                        </select>
                {{else}}
                    <h2>No tiene ningún departamento, por favor cree primero uno</h2>
                {{/if}}
            </div>
            <button type="button" onclick="submitForm()" class="btn btn-primary">Crear Usuario</button>
        </form>

        <script>
    document.addEventListener("DOMContentLoaded", () => {
        async function submitForm() {
            const form = document.getElementById('usuarioForm');
            
            if (!form) {
                console.error("No se encontró el formulario.");
                return;
            }

            const formData = new FormData(form);

            try {
                const response = await fetch('/administrador/usuarios', {
                    method: 'POST',
                    body: formData
                });

                if (response.ok) {
                    window.location.href = '/administrador';
                } else {
                    console.error('Error al crear el usuario');
                }
            } catch (error) {
                console.error('Error en la solicitud:', error);
            }
        }

        window.submitForm = submitForm;
    });
</script>

    </div>
</body>
</html>